*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(image/home.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

footer .footerText a {
    /* padding: 20px; */
    text-indent: 100px;
}

nav{
    display: flex;
}
ul{
    display: flex;
    margin: 0;
    margin-left: auto;
    list-style: none;
}
li{
    margin-right: 20px;
}
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkred; 
  }

