
body {
  min-width: 900px;
}
ul {
  display: flex;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

/* Scroll bar CSS */
html{
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

/* conditional styling */
@media screen and (max-width: 1200px ) {
  .top-section-title-teams {
    display: flex;
    flex-direction: column;
  }
  .car-container {
    display: none;
  }
  .ranking-table {
    min-width: 870px;
  }
}
@media screen and (max-width: 960px ) {
  .menu-contents a {
    .menu-contents a {
      color: red;
      font-size: 45px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      margin: 10px;
      position: relative;
      transition: all 0.5s;
    }
  }
}


